@import "tailwindcss";

.header-cell-classes {
  @apply px-6 py-3 text-left text-xs font-medium text-white uppercase tracking-wider
}

.body-cell-classes {
  @apply px-6 py-4 whitespace-nowrap text-sm font-semibold
}

/* THIS IS OUTSIDE THE 3 HOUR LIMIT */
.button-classes {
  @apply px-3 py-1 rounded-md text-sm font-medium cursor-pointer bg-white text-blue-700 hover:bg-blue-50 transition
}
/* THIS IS OUTSIDE THE 3 HOUR LIMIT */